<nav class="bg-white dark:bg-gray-900 border-b border-gray-200 dark:border-gray-700">
  <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      
      <!-- Logo -->
      <p class="cursor-pointer" (click)="logoClicked()">
        <app-logo size="md"></app-logo>
      </p>
      <!-- Nav Links -->
      <ul class="hidden md:flex space-x-6 text-sm font-medium">
        <li (click)="logoClicked()"><span class="cursor-pointer flex items-center gap-0.5  text-gray-600 dark:text-white hover:underline"><mat-icon class="text-xl">dashboard</mat-icon> Dashboard</span></li>
        <li (click)="logoClicked()"><span class="cursor-pointer flex items-center gap-0.5 text-gray-600 dark:text-white hover:underline"><mat-icon class="text-xl">task</mat-icon>  Tasks</span></li>
        <li (click)="logoClicked()"><span class="cursor-pointer flex items-center gap-0.5 text-gray-600 dark:text-white hover:underline"><mat-icon class="text-xl">group</mat-icon> Users</span></li>
        <li (click)="logoClicked()"><span class="cursor-pointer flex items-center gap-0.5 text-gray-600 dark:text-white hover:underline"><mat-icon class="text-xl">contact_mail</mat-icon> Contact</span></li>
      </ul>

     
      <div class="hidden sm:flex space-x-4">
        <div class="flex items-center space-x-4 ml-auto relative group">
          <span class="text-sm text-gray-700 dark:text-gray-200">Welcome, {{ userName}}</span>
          <!-- Profile Image -->
          <img [src]="userImageUrl" alt="US"
            class="w-10 h-10 rounded-full border border-gray-300 dark:border-gray-600 object-cover" />
      
          <!-- Settings icon with dropdown -->
          <div class="relative">
            <button (click)="toggleMenu(); $event.stopPropagation()"
              class="p-2 rounded-full hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none">
              <svg class="w-5 h-5 text-gray-600 dark:text-gray-200" fill="none" stroke="currentColor" stroke-width="2"
                viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v.01M12 12v.01M12 18v.01"></path>
              </svg>
            </button>
           <!-- Dropdown -->
            <div *ngIf="showMenu" id="enuContainer"
              class="absolute right-0 mt-2 w-40 bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-600 rounded-md shadow-lg z-10">
              <ul class="py-1 text-sm text-gray-700 dark:text-gray-100">
                <li><span class="flex items-center gap-0.5 block cursor-pointer px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-700" ><mat-icon class="text-xl">person</mat-icon> Profile</span></li>
                <li><span class="flex items-center gap-0.5 block cursor-pointer px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-700"><mat-icon class="text-xl">settings</mat-icon> Settings</span></li>
                <li><span class="flex items-center gap-0.5 block  cursor-pointer px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-700" (click)="toggleTheme()"><mat-icon class="text-xl">{{themeText.includes("Dark") ? "dark_mode" : "light_mode"}}</mat-icon>{{themeText}}</span></li>
                <li><span class="flex items-center gap-0.5 block  cursor-pointer px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-700" (click)="logout()"><mat-icon class="text-xl">logout</mat-icon>  Logout</span></li>
              </ul>
            </div>
          </div>
        </div>
      
      </div>

      <!-- Mobile Menu Icon -->
      <button class="md:hidden text-gray-600 dark:text-white">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
          stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
    </div>
  </div>
</nav>
